*{
    background-color: rgb(59, 59, 59);
    color: white;
}

body{
    text-align: center;
}

h1{
    text-align: center;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}



